@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700;900&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* scroll-snap-type: Y proximity; for which will in center alin */
    /* 1rem=10px */
}

:root{
    --main-color:#0062ff;
    --supporting-color:#ebf3fe;
    --font-color:#424242;
    --bg-color:#f7fcff;
    --hero-heading-color:#003b99;
    --heading-color:#000a19;
    --para-color:#504e4d;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow-color:rgba(100,100,111,0.2)0px 7px 29px 0px;
    --white-color:#ffffff;
    --footer-bg-color:#040d12;

}

/* nav bar start */
.header-container{
    max-width: 122rem;
    padding: 2.4rem 2.4rem;

    background-color:#fff;
    margin: 0 auto;
}

.header-section .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
}

.header-section .nav-bar ul{
    display: flex;
    gap: 4.4rem;
    text-transform: capitalize;

    & li a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        color:var(--footer-bg-color);
        position: relative;

        &::after{
            content: " ";
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width: 0;
            border-bottom: 0.3rem solid var(--hero-heading-color);
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
}
        
    }

    & li a:hover:after{
        width: 100%;
     }
}

li {
    list-style: none;
    left: 2rem;
}
 
img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* main section */

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}
.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}
 
.grid{
    display: grid;
}


main{
    margin: auto;
    padding: 0 4rem ;
    
}
.section-common-heading{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--hero-heading-color);

}
   .section1{
    height: 36vh;
    width: auto;
    background-color:var(--bg-color);

   }

   .section2{
    height: 44vh;
    width: auto;
    background-color:var(--bg-color);
   }

   footer{
    height:32vh;
    width: auto;
    background-color:var(--bg-color);
    padding: 0 2rem;
   }

   & .section1 .grid{
    align-items: center;
    gap: 2.4rem;
   
    & .hero-subheading{
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    word-spacing: 0.1rem;
    color: var(--hero-heading-color);
    font-weight: 700;
}
    & .hero-heading{
        font-size: 2.8rem;
        /* font-family: "jost"; */
        font-family: 'Jost', sans-serif;
        text-transform: capitalize;
        word-spacing: 1rem;
        letter-spacing: .1rem;
        /* line-height: 3.6rem; */
        color: var(--hero-heading-color);
        font-weight: 900;
        line-height: 1.5;
    }
     & .hero-para{
        color: var(--heading-color);
        margin: 1rem 0 1rem 0;
     }

    
}

 /* & .section1 .grid{
    align-items: center;
    gap: 2.4rem; */
/* } */
.section-hero--image img{
    width: 44%;
    height: auto;
    /*forrevertheimagewecanusethis*/transform:scaleX(1 ) ;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    &:hover{
        /* color: var(--supporting-color);
        background-color: var(--btn-hover-bg-color); */
        rotate: 360deg;

     
}
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero--content{
    margin:   0 1rem;
    padding: 1rem;
}
p{
    font-weight: 600;
    font-size: 2.4rem;
}


.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius:0.6rem ;
    -webkit-border-radius:0.6rem ;
    -moz-border-radius:0.6rem ;
    -ms-border-radius:0.6rem ;
    -o-border-radius:0.6rem ;
    /* margin-bottom: 2rem; */
    text-decoration: none;
}

/* states */
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow-color);
}


 .container{
    display: grid;   
    /* diplay flex ki wajay se kam jagay ho gyi h */
   align-items:center;
   justify-content: center;
} 

/* course pricing start */

.section2{
    background-color: var(--bg-color);
}


  .section2 .grid{
    gap: 2.2rem;
  }

  .section2 .cource-div{
    padding: 2.2rem;
    margin-left: 0.2rem;
    align-items: center;
    justify-content: center;

    & p{
        padding-bottom:2rem;
        /* margin: 2rem; */
    }
     
  }

  p,
li,
a,
label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--para-color);
    line-height: 1.5;
    text-decoration: none;
}

.section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}
  /* .section2 .cource-div:hover {
    box-shadow: var(--btn-box-shadow-color);
    background-color:aquamarine;
    } */

  .cource-div:nth-child(1) .icon .fa-solid{
    color: #1450a3;
    background-color: #dce9fa;
}


  .cource-div:nth-child(2) .icon .fa-solid{
    color: #68bf9b;
    background-color: #e7f6e7;

  }

  .cource-div:nth-child(3) .icon .fa-solid{
    color: #ff8b52;
    background-color: #fbebe8;

  }

  .cource-div:nth-child(4) .icon .fa-solid{
    color: #183d3d;
    background-color: #ccf7f7;

  }

  .cource-div:nth-child(5) .icon .fa-solid{
    color: #d988b9;
    background-color: rgb(247,223,238);

  }

  .cource-div:nth-child(6) .icon .fa-solid{
    color: #ff9b50;
    background-color: #f6dfce;

  }

  .cource-div:nth-child(7) .icon .fa-solid{
    color: #b15656;
    background-color: #dce9fa;

  }


  /* start foooter */

  footer{
    background-color: var(--footer-bg-color);
    padding-top: 3rem;
 

  
}
 footer * {
    color: var(--white-color);
    /* text-align:right; */

}

 footer .grid {
    text-align: right;
}
.footer-subheading{
    font-size: 2.2rem;
    font-weight: 700;
    
}


.footer-1--div p {
    margin: 1.2rem 0 2.6rem 0;
}
.footer-1--div {
     text-align: left;
      

     & .social-footer--icons{
        display: flex;
        gap: 2rem;
        
         

    }

    & .fa-brands{
        width: 4rem;
        aspect-ratio: 1;
        background-color: var(--supporting-color);
        color: var(--btn-hover-bg-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all.3s linear;
        
        -webkit-transition: all.3s linear;
        -moz-transition: all.3s linear;
        -ms-transition: all.3s linear;
        -o-transition: all.3s linear;


        &:hover{
            color: var(--supporting-color);
            background-color: var(--btn-hover-bg-color);
            rotate: 360deg;
        }
    }
}

/* media quriry start  */
@media (width<=1200px) { 
    html{
         font-size: 52.25%;
  }
  
  .section-hero img{
    width: 90%;

  }
}

@media (width<=1000px)  {
    html{
      font-size: 45%;
       }
       

     :is(
            .section-about,
            .section-blog,
            .section-cource,
            .section-contact--homepage,
            .section-why--choose
         )
         .grid{
            gap: 3.2rem;
         }
    }

    @media (width<=750px) {
        .section1,
        .section2 {
            height:auto;
            padding-bottom: 5rem;

            & .grid-two--cols,
            .grid-four--cols {
                grid-template-columns: 1fr;

                & .section-hero--content {
                    order: 2;
                }

                & .section-hero--image {
                    order: 1;

                    & img{
                        width: 40%;
                    }
                }
            }
        }
         
        /* footer .grid-four--cols{
            grid-template-columns: repeat(3,minmax(100px,1fr));
            text-align: left;

            & .footer-1--div{
                grid-row: 2 / 3;
                grid-column: 1 / -1;
                margin-top: 3.2rem;
            }
        } */
        
    }


    @media (width<=750px) {
        .section2 .grid-four--cols{
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        }
        .grid-four--cols{
            grid-template-columns: 1fr;
         }

         
    }

    @media (width<=700px)  {
        .grid-two--cols,
        .grid-three--cols{
           grid-template-columns: 1fr;
        }

        .header-section .header-container{
           display: flex;
           flex-direction: column;

           & .nav-bar ul{
               gap: 2.4rem;
           }
            
        }

        & .nav-logo{
           text-align: center;
           margin-bottom: 2rem;
        }

        .section1 .grid .hero-heading {
           font-size: 2.2rem;
        }
        
     }

     @media (width<=750px){
     footer .grid-four--cols{
        height: auto;
        grid-template-columns: repeat(3,minmax(100px,1fr));
        text-align: left;

        & .footer-1--div{
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            margin-top: 2.2rem;
        }
    }
}